.mdl-layout__drawer nav.mdl-navigation > a > i.material-icons {
  font-size: 14px;
  padding-bottom: 3px;
  padding-right: 5px;
}

.mdl-layout__drawer nav.mdl-navigation > span.mdl-navigation__link {
  font-size: 12px;
  color: #ccc !important;
  font-weight: bold;
}

nav.mdl-navigation > span.mdl-navigation__link:hover {
  background-color: transparent !important;
}

.mdl-layout__drawer .mdl-layout-title {
  padding-left: 30px !important;
}

.mdl-layout__drawer .mdl-navigation__link {
  padding: 3px 30px !important;
}
